<?xml version="1.0" encoding="UTF-8"?>
 
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <localRepository>C:\Users\ukasuth\.m2\repository</localRepository>
   
   <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>Pearson-Nexus-Dependencies</id>
                    <url>https://nexus.releng.pearsondev.com/content/groups/all-deps</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>Pearson-Nexus-Releases</id>
                    <url>https://nexus.releng.pearsondev.com/content/repositories/releases</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>Pearson-Nexus-Dependencies</id>
                    <url>https://nexus.releng.pearsondev.com/content/groups/all-deps</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
 
    <servers>
    <server>
            <id>Pearson-Nexus-Dependencies</id>
            <username>ukasuth</username>
            <password>Kavishka123#</password>
            <configuration>
                <wagonProvider>httpclient</wagonProvider>
                <httpConfiguration>
                    <put>
                        <params>
                            <param>
                                <name>http.authentication.preemptive</name>
                                <value>%b,true</value>
                            </param>
                        </params>
                    </put>
                </httpConfiguration>
            </configuration>
        </server>
    <server>
            <id>Pearson-Nexus-Releases</id>
            <username>ukasuth</username>
            <password>Kavishka123#</password>
            <configuration>
                <wagonProvider>httpclient</wagonProvider>
                <httpConfiguration>
                    <put>
                        <params>
                            <param>
                                <name>http.authentication.preemptive</name>
                                <value>%b,true</value>
                            </param>
                        </params>
                    </put>
                </httpConfiguration>
            </configuration>
        </server>
    <server>
            <id>Pearson-Nexus-Snapshots</id>
            <username>ukasuth</username>
            <password>Kavishka123#</password>
            <configuration>
                <wagonProvider>httpclient</wagonProvider>
                <httpConfiguration>
                    <put>
                        <params>
                            <param>
                                <name>http.authentication.preemptive</name>
                                <value>%b,true</value>
                            </param>
                        </params>
                    </put>
                </httpConfiguration>
            </configuration>
        </server>
    <server>
            <id>Pearson-Nexus-Site</id>
            <username>ukasuth</username>
            <password>Kavishka123#</password>
            <configuration>
                <wagonProvider>httpclient</wagonProvider>
                <httpConfiguration>
                    <put>
                        <params>
                            <param>
                                <name>http.authentication.preemptive</name>
                                <value>%b,true</value>
                            </param>
                        </params>
                    </put>
                </httpConfiguration>
            </configuration>
        </server>
		
		<server>
      <id>central</id>
      <username>${env.MAVEN_REPO_USER}</username>
      <password>${env.MAVEN_REPO_PASS}</password>
    </server>
    </servers>
 
    <activeProfiles>
        <activeProfile>default</activeProfile>
       
    </activeProfiles>
 
</settings>
